bin/
obj/
.vs/
.vscode/
publish/
*.user
*.suo
TestResults/
wwwroot/uploads/
**/wwwroot/uploads/
# Compilação
bin/
obj/
publish/
publish-test/

# Visual Studio e VS Code
.vs/
.vscode/
*.user
*.suo

# Arquivos temporários
*.tmp
*.log
