@model VianaMotos.Web.Models.Combustivel

<h1>Excluir Combustível</h1>

<div class="alert alert-danger">
    Tem certeza que deseja excluir este combustível?
</div>

<dl class="row">
    <dt class="col-sm-2">
        Nome
    </dt>
    <dd class="col-sm-10">
        @Model.Nome
    </dd>

    <dt class="col-sm-2">
        Ativo
    </dt>
    <dd class="col-sm-10">
        @Model.Ativo
    </dd>
</dl>

<form asp-action="Delete" method="post">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">
        Confirmar Exclusão
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>
