<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VianaMotos.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VianaMotos.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/viana.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/painel.css" asp-append-version="true" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark viana-navbar shadow">
        <div class="container">

            <a class="navbar-brand fw-bold"
               asp-area=""
               asp-controller="Home"
               asp-action="Index">

                <img src="~/images/VianaLogo.png"
                     alt="Viana Motos"
                     height="50"
                     class="me-2" />

            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="menu">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            Início
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contato">
                            Contato
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>

    <main class="container py-4">
        @RenderBody()
    </main>

    <footer class="bg-dark text-white py-3 mt-5">
        <div class="container text-center">
            © @DateTime.Now.Year - Viana Motos
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
